/*
* Global mixins for without effort framework
* Assuming pixel size of 14px or 87.5% instead of 10px
*/
/*(min-device-width: 640px) and (max-device-width: 1136px)*/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-size: 87.5%; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  z-index: -10;
  font: normal normal normal 1.0214rem/1.618 "OpenSansRegular", "Helvetica Neue", "GyreHerosRegular", Arial, Helvetica, sans-serif;
  /*fall back*/
  word-spacing: 1.2px;
  color: #424242;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  background: url("../images/background.png"); }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    body {
      background: url("../images/background_@2x.png"); } }

.demo {
  background: #f1f0f1;
  border: 1px solid gainsboro;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

p {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45); }

.embossed img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  vertical-align: bottom; }

img {
  border: 0 none;
  height: auto;
  max-width: 100%; }

.embossed {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: bottom;
  margin: 0 5px 5px 0; }

.embossed:after {
  border: 1px solid rgba(150, 150, 150, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
  content: " ";
  height: 100%;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 100%; }

.box .embossed:after {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  -ms-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -6px 0 rgba(0, 0, 0, 0.6), inset 0 -7px 0 rgba(255, 255, 255, 0.3); }

figure.img {
  position: relative;
  border: 1px solid rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0.4em;
  background: white; }
