.space-14 {
  width: 24.5%; }

.space-24 {
  width: 49.5%; }

.space-34 {
  width: 74.70667%; }

.space-13 {
  width: 32.826667%; }

.space-23 {
  width: 66.150414815%; }

.rows {
  display: block; }

section {
  background: black;
  padding: 1em; }
