@import 'global';
@import 'defaults.scss';
@import 'fonts.scss';
@import 'forms.scss';

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.wrapper{
    margin: 0 1% 0 1.5%;
}
.space-14,.space-24,.space-34,.space-13,.space-23,.space-44,.golden-large,.golden-small,.modified-golden-large,.modified-golden-small,.dashboard-24{display:inline-block;vertical-align:top;}
.space-14:before,.space-24:before,.space-13:before,.space-23:before,.space-34:before,.space-44:before,.golden-large:before,.golden-small:before,.modified-golden-large:before,.modified-golden-small:before,.dashboard-24:before,.centered:before{content:" ";height:10px;background:transparent;display: block;}
.space-14:after,.space-24:after,.space-13:after,.space-23:after.space-34:after,.space-44:after,.golden-large:after,.golden-small:after,.modified-golden-large:after,.modified-golden-small:after,.dashboard-24:after,.centered:before{content:" ";height: 10px;background:transparent;display: block;}
.start{
    margin-right:1%;
}
.space-14{
    @include box-sizing(border-box);
    width:24.634333333333334%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 24.634333333333334%; }
    @include responsive(tablets-landscape) { width: 24.634333333333334%; }
    @include responsive(tablets-retina-landscape) {width:24.634333333333334%;}
    @include responsive(tablets-retina){width:49.5%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3% ;}
}
.space-24{
    @include box-sizing(border-box);
    width:49.5%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 49.5%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(tablets-retina){width:49.5%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3% ;}
}
.dashboard-24{
    @include box-sizing(border-box);
    width:48.5%;
    padding:1em 1em 0.4em;
    min-height:160px;
}
.space-34{
    @include box-sizing(border-box);
    width:74%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 74%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(tablets-retina-landscape) {width:74%;}
    @include responsive(tablets-retina){width:74%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-44{
    @include box-sizing(border-box);
    width:99.3%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 99.3%; }
    @include responsive(tablets-landscape) { width: 99.3%;}
    @include responsive(tablets-retina-landscape) {width:99.3%;}
    @include responsive(tablets-retina){width:99.3%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.centered{
    @include box-sizing(border-box);
    width:90%;
    padding:1em;
}
.space-13{
    @include box-sizing(border-box);
    width:32.925333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 32.925333333333333%; }
    @include responsive(tablets-landscape) { width: 32.925333333333333%; }
    @include responsive(tablets-retina-landscape) {width:32.925333333333333%;}
    @include responsive(tablets-retina){width:32.925333333333333%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-23{
    @include box-sizing(border-box);
    width:66.06666666666666%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 66.06666666666666%; }
    @include responsive(tablets-landscape) { width: 66.06666666666666; }
    @include responsive(tablets-retina-landscape) { width: 66.06666666666666; }
    @include responsive(tablets-retina){width:66.06666666666666%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.golden-large{
    @include box-sizing(border-box);
    width:61.666666666666666%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 61.666666666666666%; }
    @include responsive(tablets-landscape) { width: 61.66666666666666; }
    @include responsive(tablets-retina-landscape) { width: 61.66666666666666; }
    @include responsive(tablets-retina){width:61.66666666666666%;}
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.golden-small{
    @include box-sizing(border-box);
    width:37.333333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 37.333333333333333%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.modified-golden-large{
    @include box-sizing(border-box);
    width:71%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 71%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.modified-golden-small{
    @include box-sizing(border-box);
    width:28.333333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 28.333333333333333%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.forms-row:before, .forms-row:after {
    content: "";
    display: table;
    line-height: 0;
}
.forms-row:after {
    clear: both;
}
.space-14-form,.space-24-form,.space-34-form,.space-13-form,.space-23-form,.space-44-form,.form-default{
    display:inline-block;
    vertical-align:top
}
.space-24-form{
    @include box-sizing(border-box);
    width:49.75%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 49.75%; }
    @include responsive(tablets-landscape) { width: 49.75%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-13-form{
    @include box-sizing(border-box);
    width:33.08333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 33.083333333333333%; }
    @include responsive(tablets-landscape) { width: 49.75%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-23-form{
    @include box-sizing(border-box);
    width:66.153333333333333333%;
    padding:1em 1em 0.4em;;
    @include responsive(desktop-retina) { width: 66.153333333333333333%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-14-form{
    @include box-sizing(border-box);
    width:24.75%;
    padding:1em 1em 0.4em;
    @include responsive(desktop-retina) { width: 24.75%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-34-form{
    @include box-sizing(border-box);
    width:74.45%;
    padding:1em 1em 0.4em;;
    @include responsive(desktop-retina) { width: 74.45%; }
    @include responsive(tablets-landscape) { width: 49.5%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-44-form,.form-default{
    @include box-sizing(border-box);
    width:98.45%;
    padding:1em 1em 0.4em;;
    @include responsive(tablets-landscape) { width: 99.3%; }
    @include responsive(desktop-retina) { width: 99.3%; }
    @include responsive(phone-retina) { width: 99.3% ;}
    @include responsive(phone) { width: 99.3%;}
}
.space-14-form:first-child,.space-24-form:first-child,.space-34-form:first-child,.space-13-form:first-child,.space-44-form:first-child{
    float:left;
}
.space-auto{
    width:auto;
}
.clear:after{
    content:" ";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.no-padding{
  padding:0;
}
.padding-left{
    padding: 0 0 0 1em;
}
.padding-right{
    padding:0 1em 0 0;
}
.padding-top{
    padding:1em 0 0;
}
.padding-bottom{
    padding:0 0 1em;
}
.text-right{
    text-align:right;
}
p,h1,h2,h3,address,time{
    margin: 0 1%;
}
p:first-of-type{
    padding: 10px 0 15px 0;
}
p{
    padding: 0 0 15px 0;
}
p:last-of-type{
    padding:0;
}
form{
    margin: 1%;
}