/*
* Global mixins for without effort framework
* Assuming pixel size of 14px or 87.5% instead of 10px
*/
/*smaller version of reset.css*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* Corrects `inline-block` display not defined in IE 8/9.*/
audio,
canvas,
video {
  display: inline-block; }

/* Prevents modern browsers from displaying `audio` without controls. */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Addresses styling for `hidden` attribute not present in IE 8/9. */
[hidden] {
  display: none; }

/* Removes default margin. */
body {
  margin: 0; }

/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 0.875em; }

/* Re-set default cursor for disabled elements.*/
button[disabled],
input[disabled] {
  cursor: default; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/open/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/open/OpenSans-Italic-webfont.eot");
  src: url("../fonts/open/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/open/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/open/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("../fonts/open/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open/OpenSans-Semibold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiBoldItalic';
  src: url("../fonts/open/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/open/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/open/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/open/OpenSans-SemiboldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansSemiBold';
  text-shadow: 0px 1px 1px #fff; }

h1 {
  font-size: 2.5708rem;
  font-size: 35.9912px;
  font-size: 2.5708em;
  letter-spacing: -0.0714em;
  font-weight: 900; }

h2 {
  font-size: 2.2852rem;
  font-size: 31.9928px;
  font-size: 2.2852em;
  letter-spacing: -0.0714em;
  font-weight: 900; }

h3 {
  font-size: 1.714rem;
  font-size: 23.996px;
  font-size: 1.714em;
  letter-spacing: -0.0714em;
  font-weight: 900; }

h4 {
  font-size: 1.4284rem;
  font-size: 19.9976px;
  font-size: 1.4284em;
  letter-spacing: -0.0714em;
  font-weight: 900; }

time.default {
  font-size: 0.8572rem;
  font-size: 12.0008px;
  font-size: 0.8572em;
  text-transform: uppercase;
  font-weight: 900; }

/*
* Global mixins for without effort framework
* Assuming pixel size of 14px or 87.5% instead of 10px
*/
input::-webkit-input-placeholder, ::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.5);
  word-spacing: 1.5px;
  /*fall back*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

input:-moz-placeholder, :-moz-placeholder, input:-ms-input-placeholder, :-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.5);
  word-spacing: 1.5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

input, textarea, select[multiple], select[size][multiple] {
  font: normal normal normal 1.0214rem/1.618 "OpenSansRegular", "Helvetica Neue", "GyreHerosRegular", Arial, Helvetica, sans-serif;
  color: rgba(73, 62, 48, 0.95);
  word-spacing: 1.5px;
  width: 100%;
  margin: 3px 0;
  padding: 6px 0 6px 6px;
  border: 1px solid #9696a7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ededf5;
  background: -webkit-linear-gradient(top, #ededf5, white);
  background: -moz-linear-gradient(top, #ededf5, white);
  background: -ms-linear-gradient(top, #ededf5, white);
  background: -o-linear-gradient(top, #ededf5, white);
  background: linear-gradient(top, #ededf5, white);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 0 1px 0 rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 0 1px 0 rgba(50, 50, 50, 0.15);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 0 1px 0 rgba(50, 50, 50, 0.15);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 0 1px 0 rgba(50, 50, 50, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset, 0 0 1px 0 rgba(50, 50, 50, 0.15); }

textarea.large-textarea {
  min-height: 300px; }

textarea.medium-textarea {
  min-height: 200px; }

textarea.small-textarea {
  min-height: 100px; }

input:focus, input.input-text:focus, input.password:focus, textarea:focus, iframe.editor:focus, select[multiple]:focus, select[size][multiple]:focus {
  outline: none;
  background-color: rgba(226, 235, 200, 0.45);
  background: -webkit-linear-gradient(top, rgba(226, 235, 200, 0.45), rgba(230, 230, 220, 0.5));
  background: -moz-linear-gradient(top, rgba(226, 235, 200, 0.45), rgba(230, 230, 220, 0.5));
  background: -ms-linear-gradient(top, rgba(226, 235, 200, 0.45), rgba(230, 230, 220, 0.5));
  background: -o-linear-gradient(top, rgba(226, 235, 200, 0.45), rgba(230, 230, 220, 0.5));
  background: linear-gradient(top, rgba(226, 235, 200, 0.45), rgba(230, 230, 220, 0.5));
  border: 1px solid #73a519;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 0 1px 0 rgba(160, 170, 130, 0.15), 0 0 3px #a0aa82;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 0 1px 0 rgba(160, 170, 130, 0.15), 0 0 3px #a0aa82;
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 0 1px 0 rgba(160, 170, 130, 0.15), 0 0 3px #a0aa82;
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 0 1px 0 rgba(160, 170, 130, 0.15), 0 0 3px #a0aa82;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35) inset, 0 0 1px 0 rgba(160, 170, 130, 0.15), 0 0 3px #a0aa82;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background-color: whitesmoke;
  background: -webkit-linear-gradient(top, whitesmoke, white);
  background: -moz-linear-gradient(top, whitesmoke, white);
  background: -ms-linear-gradient(top, whitesmoke, white);
  background: -o-linear-gradient(top, whitesmoke, white);
  background: linear-gradient(top, whitesmoke, white); }

input[type='search']:focus {
  outline: none; }

input[type='file'] {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }

input[type='submit'], input[type='submit'].create, input[type='button'].create, button.create, input[type='submit'].edit, input[type='button'].edit, button.edit, input[type='submit'].update, input[type='button'].update, button.update {
  font-size: 18px;
  font-weight: 900;
  color: #323232;
  border: 1px solid #696e6e;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.45);
  background-color: #e1e1e1;
  background: -webkit-linear-gradient(top, #e1e1e1, #9b9b9b);
  background: -moz-linear-gradient(top, #e1e1e1, #9b9b9b);
  background: -ms-linear-gradient(top, #e1e1e1, #9b9b9b);
  background: -o-linear-gradient(top, #e1e1e1, #9b9b9b);
  background: linear-gradient(top, #e1e1e1, #9b9b9b);
  /*@include box-shadow(0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -2px 0px rgba(0, 0, 0, 0.35), inset 0 -3px 0 rgba(255,255,255,0.3), inset 0px 14px 14px rgba(255, 255, 255, 0.10));*/
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -4px 0px rgba(0, 0, 0, 0.35), inset 0 -5px 0 rgba(255, 255, 255, 0.3), inset 0 -6px 0 rgba(255, 255, 255, 0.2), inset 0px 14px 14px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -4px 0px rgba(0, 0, 0, 0.35), inset 0 -5px 0 rgba(255, 255, 255, 0.3), inset 0 -6px 0 rgba(255, 255, 255, 0.2), inset 0px 14px 14px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -4px 0px rgba(0, 0, 0, 0.35), inset 0 -5px 0 rgba(255, 255, 255, 0.3), inset 0 -6px 0 rgba(255, 255, 255, 0.2), inset 0px 14px 14px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -4px 0px rgba(0, 0, 0, 0.35), inset 0 -5px 0 rgba(255, 255, 255, 0.3), inset 0 -6px 0 rgba(255, 255, 255, 0.2), inset 0px 14px 14px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.18), inset 0px -4px 0px rgba(0, 0, 0, 0.35), inset 0 -5px 0 rgba(255, 255, 255, 0.3), inset 0 -6px 0 rgba(255, 255, 255, 0.2), inset 0px 14px 14px rgba(255, 255, 255, 0.1); }

label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  /*font-weight: bold;*/
  font-family: 'OpenSansSemiBold';
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8); }

label > span {
  display: block; }

form-rows:before, form-rows:after {
  display: table;
  line-height: 0;
  content: ""; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.wrapper {
  margin: 0 1% 0 1.5%; }

.space-14, .space-24, .space-34, .space-13, .space-23, .space-44, .golden-large, .golden-small, .modified-golden-large, .modified-golden-small, .dashboard-24 {
  display: inline-block;
  vertical-align: top; }

.space-14:before, .space-24:before, .space-13:before, .space-23:before, .space-34:before, .space-44:before, .golden-large:before, .golden-small:before, .modified-golden-large:before, .modified-golden-small:before, .dashboard-24:before, .centered:before {
  content: " ";
  height: 10px;
  background: transparent;
  display: block; }

.space-14:after, .space-24:after, .space-13:after, .space-23:after.space-34:after, .space-44:after, .golden-large:after, .golden-small:after, .modified-golden-large:after, .modified-golden-small:after, .dashboard-24:after, .centered:before {
  content: " ";
  height: 10px;
  background: transparent;
  display: block; }

.start {
  margin-right: 1%; }

.space-14 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 24.634333333333334%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-14 {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-14 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-14 {
      width: 24.634333333333334%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-14 {
      width: 49.5%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .space-14 {
      width: 24.634333333333334%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-14 {
      width: 24.634333333333334%; } }

.space-24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.5%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-24 {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-24 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-24 {
      width: 49.5%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-24 {
      width: 49.5%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-24 {
      width: 49.5%; } }

.dashboard-24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.5%;
  padding: 1em 1em 0.4em;
  min-height: 160px; }

.space-34 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 74%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-34 {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-34 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-34 {
      width: 49.5%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-34 {
      width: 74%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .space-34 {
      width: 74%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-34 {
      width: 74%; } }

.space-44 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 99.3%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-44 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-44 {
      width: 99.3%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .space-44 {
      width: 99.3%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-44 {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-44 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-44 {
      width: 99.3%; } }

.centered {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  padding: 1em; }

.space-13 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.925333333333333%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-13 {
      width: 32.925333333333333%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-13 {
      width: 32.925333333333333%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .space-13 {
      width: 32.925333333333333%; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-13 {
      width: 32.925333333333333%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-13 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-13 {
      width: 99.3%; } }

.space-23 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.06666666666666%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-23 {
      width: 66.06666666666666%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-23 {
      width: 66.06666666666666; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .space-23 {
      width: 66.06666666666666; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .space-23 {
      width: 66.06666666666666%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-23 {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-23 {
      width: 99.3%; } }

.golden-large {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 61.666666666666666%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .golden-large {
      width: 61.666666666666666%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .golden-large {
      width: 61.66666666666666; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (min-resolution: 2dppx) {
    .golden-large {
      width: 61.66666666666666; } }
  @media only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min--moz-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (min-resolution: 2dppx) {
    .golden-large {
      width: 61.66666666666666%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .golden-large {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .golden-large {
      width: 99.3%; } }

.golden-small {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 37.333333333333333%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .golden-small {
      width: 37.333333333333333%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .golden-small {
      width: 49.5%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .golden-small {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .golden-small {
      width: 99.3%; } }

.modified-golden-large {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 71%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .modified-golden-large {
      width: 71%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .modified-golden-large {
      width: 49.5%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .modified-golden-large {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .modified-golden-large {
      width: 99.3%; } }

.modified-golden-small {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 28.333333333333333%;
  padding: 1em 1em 0.4em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .modified-golden-small {
      width: 28.333333333333333%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .modified-golden-small {
      width: 49.5%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .modified-golden-small {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .modified-golden-small {
      width: 99.3%; } }

.forms-row:before, .forms-row:after {
  content: "";
  display: table;
  line-height: 0; }

.forms-row:after {
  clear: both; }

.space-14-form, .space-24-form, .space-34-form, .space-13-form, .space-23-form, .space-44-form, .form-default {
  display: inline-block;
  vertical-align: top; }

.space-24-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 49.73%;
  padding: 0.6em 0.8em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-24-form {
      width: 49.73%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-24-form {
      width: 49.75%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-24-form {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-24-form {
      width: 99.3%; } }

.space-13-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.04333333333333%;
  padding: 0.6em 0.8em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-13-form {
      width: 33.043333333333333%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-13-form {
      width: 49.73%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-13-form {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-13-form {
      width: 99.3%; } }

.space-23-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.153333333333333333%;
  padding: 0.6em 0.8em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-23-form {
      width: 66.153333333333333333%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-23-form {
      width: 49.73%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-23-form {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-23-form {
      width: 99.3%; } }

.space-14-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 24.67%;
  padding: 0.6em 0.8em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-14-form {
      width: 24.67%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-14-form {
      width: 49.73%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-14-form {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-14-form {
      width: 99.3%; } }

.space-34-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 74.45%;
  padding: 0.6em 0.8em; }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-34-form {
      width: 74.45%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-34-form {
      width: 49.73%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-34-form {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-34-form {
      width: 99.3%; } }

.space-44-form, .form-default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 98.45%;
  padding: 0.6em 0.8em; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .space-44-form, .form-default {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
    .space-44-form, .form-default {
      width: 99.3%; } }
  @media only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
    .space-44-form, .form-default {
      width: 99.3%; } }
  @media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .space-44-form, .form-default {
      width: 99.3%; } }

.space-14-form:first-child, .space-24-form:first-child, .space-34-form:first-child, .space-13-form:first-child, .space-44-form:first-child {
  float: left; }

.space-auto {
  width: auto; }

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.no-padding {
  padding: 0; }

.padding-left {
  padding: 0 0 0 1em; }

.padding-right {
  padding: 0 1em 0 0; }

.padding-top {
  padding: 1em 0 0; }

.padding-bottom {
  padding: 0 0 1em; }

.text-right {
  text-align: right; }

p, h1, h2, h3, address, time {
  margin: 0 1%; }

p:first-of-type {
  padding: 10px 0 15px 0; }

p {
  padding: 0 0 15px 0; }

p:last-of-type {
  padding: 0; }

form {
  margin: 1%; }
