@import 'global';
@import 'defaults.scss';
@import 'fonts.scss';
@import '../fonts/font-awesome.scss';
@import 'forms.scss';
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.wrapper{
    margin: 0 1%;
}
.space-14,.space-24,.space-34,.space-13,.space-23,.space-44,.golden-large,.golden-small,.modified-golden-large,.modified-golden-small,.dashboard-24{display:inline-block;vertical-align:top;float: left;margin: 0 0 0.4876% 0.4876%;}
.space-14:before,.space-24:before,.space-13:before,.space-23:before,.space-34:before,.space-44:before,.golden-large:before,.golden-small:before,.modified-golden-large:before,.modified-golden-small:before,.dashboard-24:before,.centered:before{content:" ";height:0.25em;background:transparent;display: block;}
.space-14:after,.space-24:after,.space-13:after,.space-23:after.space-34:after,.space-44:after,.golden-large:after,.golden-small:after,.modified-golden-large:after,.modified-golden-small:after,.dashboard-24:after,.centered:before{content:" ";height: 0.25em;background:transparent;display: block;}
.space-14:first-of-type,.space-24:first-of-type,.space-34:first-of-type,.space-44:first-of-type, .space-13:first-of-type,.space-23:first-of-type,.golden-large:first-of-type,.golden-small:first-of-type,.modified-golden-large:first-of-type,.modified-golden-small:first-of-type,.dashboard-24:first-of-type{margin: 0 0 0.4876% 0;}


.space-14{
    @include box-sizing(border-box);
    width:24.63433333%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;}
    @include responsive(phone-retina){width: 100%;}
    @include responsive(phone-retina-landscape){width: 100%;}
    @include responsive(tablets-landscape){width: 24.63433333%;}
    @include responsive(tablets-retina){width:49.75622222%;}
}
.space-24{
    @include box-sizing(border-box);
    width:49.75622222%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;}
    @include responsive(phone-retina){width: 100%;}
    @include responsive(phone-retina-landscape){width: 100%;}
    @include responsive(tablets-retina){width:49.75622222%;}
}
.dashboard-24{
    @include box-sizing(border-box);
    width:48.5%;
    padding:1em 1em 0.4em;
    min-height:160px;
}
.space-34{
    @include box-sizing(border-box);
    width:74.8780667%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;}
    @include responsive(phone-retina){width: 100%;}
    @include responsive(phone-retina-landscape){width: 100%;}
    @include responsive(tablets){width:74.8780667%;}
    @include responsive(tablets-retina){width:74.8780667%;}
    @include responsive(tablets-landscape){width: 74.8780667%;}
}
.space-44{
    @include box-sizing(border-box);
    width:100%;
    padding:1em 1em 0.4em;
}
.centered{
    @include box-sizing(border-box);
    width:90%;
    padding:1em;
}
.space-13{
    @include box-sizing(border-box);
    width:33.00829629%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;margin: 0 0 0 0.48755556%;}
    @include responsive(phone-retina){width: 100%;margin: 0 0 0 0.48755556%;}
    @include responsive(phone-retina-landscape){width: 100%;margin: 0 0 0 0.48755556%;}
    @include responsive(tablets-retina){width:33.00829629%;margin-left: 0.48755556%;}
}
.space-23{
    @include box-sizing(border-box);
    width:66.50414815%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;}
    @include responsive(phone-retina){width: 100%;}
    @include responsive(phone-retina-landscape){width: 100%;}
    @include responsive(tablets-retina){width:66.50414815%;}
}
.golden-large{
    @include box-sizing(border-box);
    width:61.666666666666666%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;margin-left:0;}
    @include responsive(phone-retina){width: 100%;margin-left:0;}
    @include responsive(phone-retina-landscape){width: 100%;}
    @include responsive(tablets-retina){width:61.66666666666666%;}
    @include responsive(tablets-retina-landscape){width: 61.66666666666666;}
    @include responsive(tablets-landscape){width: 61.66666666666666;}
    @include responsive(desktop-retina){width: 61.666666666666666%;}
}
.golden-small{
    @include box-sizing(border-box);
    width:37.333333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;margin:0;}
    @include responsive(phone-retina){width: 100%;margin:0;}
    @include responsive(phone-retina-landscape){width: 100%;margin:0;}
    @include responsive(tablets-landscape){width: 49.5%;}
    @include responsive(desktop-retina) { width: 37.333333333333333%; }
}
.modified-golden-large{
    @include box-sizing(border-box);
    width:71%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;margin:0;}
    @include responsive(phone-retina){width: 100%;margin:0;}
    @include responsive(phone-retina-landscape){width: 100%;margin:0;}
    @include responsive(tablets-landscape){width: 49.75622222%;}
    @include responsive(desktop-retina){width: 71%;}
}
.modified-golden-small{
    @include box-sizing(border-box);
    width:28.333333333333333%;
    padding:1em 1em 0.4em;
    @include responsive(phone){width: 100%;margin:0;}
    @include responsive(phone-retina){width: 100%;margin:0;}
    @include responsive(phone-retina-landscape){width: 100%;margin:0;}
    @include responsive(tablets-landscape) {width: 49.75622222%;}
    @include responsive(desktop-retina){width: 28.333333333333333%;}

}
.stack{
    @include responsive(tablets){width:49.75622222%;display: inline-block;float:left;}
    @include responsive(tablets-retina){width:49.75622222%;display: inline-block;float:left;}
}
.stack > .breakpoint{
    margin-left: 0.4876%;
    @include responsive(phone){margin-left:0;}
    @include responsive(phone-retina){margin-left:0;}
    @include responsive(phone-retina-landscape){margin-left:0;}
}
.stack > .space-14{
    @include responsive(tablets){width:100%; margin-left: 0;}
    @include responsive(tablets-retina){width:100%;margin-left: 0;}
}
.rows:before, .rows:after,.form-rows:before, .form-rows:after {
    content: "";
    display: table;
    line-height: 0;
}
.rows:after, .form-rows:after {
    clear: both;
}
.rows:after{content:" ";display: block; background: transparent;}
.space-14-form,.space-24-form,.space-34-form,.space-13-form,.space-23-form{
    display:inline-block;
    vertical-align:top;
    float:left;
}
.space-24-form{
    @include box-sizing(border-box);
    width:49.73%;
    padding:0.6em 0.8em;
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
}
.space-13-form{
    @include box-sizing(border-box);
    width:33.15333333333333%;
    padding:0.6em 0.8em;
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina-landscape){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(tablets){width: 49.73%;}
}
.space-23-form{
    @include box-sizing(border-box);
    width:66.153333333333333333%;
    padding:0.6em 0.8em;
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina-landscape){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(tablets){width: 49.73%;}
    @include responsive(tablets-retina){width: 49.73%;padding: 0.6em 0.8em 0.6em 0.4em;}
}
.space-14-form{
    @include box-sizing(border-box);
    width:24.87%;
    padding:0.6em 0.8em;
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina-landscape){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(tablets){width: 49.73%;}
    @include responsive(tablets-retina){width:49.73%;}
}
.space-34-form{
    @include box-sizing(border-box);
    width:74.45%;
    padding:0.6em 0.8em;
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina-landscape){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}

}
.space-44-form,.form-default{
    @include box-sizing(border-box);
    width:100%;
    padding:0.6em 1.2em 0.5em 0.8em;
    @include responsive(phone){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
    @include responsive(phone-retina-landscape){width: 100%;padding: 0.6em 0.8em 0.6em 0.4em;}
}
.space-auto{
    width:auto;
}
.clear:after{
    content:" ";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.no-padding{
  padding:0;
}
.padding-left{
    padding: 0 0 0 1em;
}
.padding-right{
    padding:0 1em 0 0;
}
.padding-top{
    padding:1em 0 0;
}
.padding-bottom{
    padding:0 0 1em;
}
.text-right{
    text-align:right;
}
p,h1,h2,h3,address,time{
    margin: 0 1%;
}
p:first-of-type{
    padding: 10px 0 15px 0;
}
p{
    padding: 0 0 15px 0;
}
p:last-of-type{
    padding:0;
}
form{
    margin: 1%;
}